/* src/components/Home.css */
.home {
  margin-left: 185px; /* Espaço para a sidebar esquerda */
  margin-right: 185px; /* Espaço para a sidebar direita */
  padding: 20px;
  background-color: #ecf0f1;
  min-height: 100vh; /* Garante que a altura mínima cubra a viewport */
  box-sizing: border-box; /* Inclui padding e border no cálculo da largura e altura */
}


.home h1 {
  color: #ff0000;
}
