/* src/components/SidebarRight.css */
.sidebar-right {
  width: 250px;
  background-color: #2C3E50;
  color: white;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  padding: 1rem;
  overflow-y: auto;
  /* Não cobrir a página completamente, apenas ao lado */
  z-index: 1000;
}

.sidebar-right h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.sidebar-right ul {
  list-style: none;
  padding: 0;
}

.sidebar-right ul li {
  margin-bottom: 1rem;
}

.sidebar-right ul li h3 {
  margin: 0;
  color: #ecf0f1;
}

.sidebar-right ul li p {
  margin: 0.5rem 0;
}
